/* Общий стиль приложения */
.app-container {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* header h1 {
  margin: 0;
  font-size: 1.5rem;
} */

/* Основной контент */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Верхняя половина */
.top-half {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.filters-section,
.details-section {
  flex: 1;
  padding: 20px;
  /* box-sizing: border-box; */
}

/* Нижняя половина */
.bottom-half {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

/* Стиль компонентов */
section {
  background-color: #fff;
}
